/* as seen in https://gridbyexample.com/examples/example33/ */

html {
	font-family: 'Muli', sans-serif;
}
body {
	margin: 0px;
	background-color: #fff;
}

.sidebar {
        grid-area: sidebar;
    }

    .content {
        grid-area: content;
    }

    .header {
        grid-area: header;
	height: 100px;
	
    }

    .footer {
        grid-area: footer;
	position: fixed;
 	width: 100%;
  	bottom: 0;
	height: 40px;
    }


    .wrapper {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: 68% 30%;
        grid-template-areas:
    	"header header"
        "content sidebar"
        "footer footer";
        background-color: #fff;
        color: #444;
    }


.box {
	
  background-color: #444;
  color: #fff;
 
  padding: 10px;
  font-size: 150%;
}

.header,
.footer {
	background-color: #999;
	min-width: 700px;
}


a:link{
color: #00A8Eb;
text-decoration-style: dotted;
}
a:visited{
color: #00A2E8; 
}
a:hover{
color: #fff;
background-color: #00A8Eb; 
text-decoration-line: none;
}